body {
    background-color: black !important;
}

.square.hover .dot {
    height: 100%;
    width: 100%;
    margin: 0;
    border-radius: 0;
    background-color: #00c4ff;
}

.square.hover .piece {
    z-index: 110;
}

.sideBar {
    float: right;
    height: 100%;
    padding: 10px;
    width: 20%;
    background-color: #b4babd;
}

.square.stalemate {
    background-color: #3cb371;
}

.paddingBottom10 {
    padding-bottom: 10px;
}

.wrapper {
    width: 55%;
    height: 90vh;
    position: relative;
    margin-left: auto;
    margin-top: 2.5%;
    margin-right: auto;
}

.square {
    position:relative;
}

.chessBoard, .warBoard {
    height: 100%;
    float: left;
    width: 80%;
}

	.chessBoard td {
		vertical-align: top;
		height: 12.5%;
		width: 12.5%;
	}

	.chessBoard td img {
		width: 100%;
	}

.whiteTile {
    background-color: #dee3e6;
}

.blackTile {
    background-color: #8ca2ad;
}

.clone {
    display:none;
}

.dot {
    height: 30%;
    width: 30%;
    border-radius: 50%;
    margin-top: 36.5%;
    margin-left: 35.5%;
    position: absolute;
    z-index: 100;
}

.whiteTile .dot {
    background-color: #8ca2ad;
}

.blackTile .dot {
    background-color: #dee3e6;
}

.square.check {
    background-color: #ffc800;
}

.square.checkmate {
    background-color: #ff0000;
}

.bottomRow {
    position: absolute;
    bottom: 0;
    width: 21%;
    bottom: 5px;
}

.warBoard {
    background-color: #b4babd;
    border-right: 1px solid black;
}

.warBanner{
    padding: 15px;
    border-bottom: 1px solid black;
}

    .warBanner .vsText {
        font-size: 50px;
        font-weight: bold;
        text-align: center;
    }

.fight {
    margin-top: 20px;
}